<!doctype html>
<html ng-app="dungboss">
<head>
    <title>Dungeon Bossenator</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body ng-controller="DungbossController">

<div class="row">
    <div class="col-md-3">
        <h4>Elements</h4>

        <div ng-repeat="element in elements">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="elements[element].enabled"
                           ng-change="selectHeroes()"> {{element}}
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h4>Classes</h4>

        <div ng-repeat="class in classes">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="classes[class].enabled"
                           ng-change="selectHeroes()"> {{class}}
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">


        <h2>Selected</h2>

        <div ng-repeat="t in selectedHeroes">
            {{t.name}}
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="dungboss.js"></script>
<script src="heroes.js"></script>
</body>
</html>