<!doctype html>
<html ng-app="dungboss">
<head>
    <title>Dungeon Boss Filter</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body ng-controller="DungbossController">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h2>Dungeon Boss Filter</h2>

            <div class="help-text">Choose from the categories on the left to find matching heroes</div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="disclaimer">This page relies heavily on the fantastic
                <a href="http://dungeonboss.wikia.com/" target="_blank">Wikia site</a></div>
        </div>

    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">

            <h5>Element</h5>

            <div class="checkbox checkbox-text" style="padding-left: 2px;">
                <label>
                    <input type="checkbox" ng-model="selectAllElements" ng-click="selectAll('elements')">
                    All
                </label>
            </div>
            <div ng-repeat="element in elements">
                <div class="checkbox checkbox-text checkbox-background {{element.name}}-background">
                    <label>
                        <input type="checkbox" ng-model="elements[$index].enabled"
                               ng-change="selectHeroes()"> {{element.name}}
                    </label>
                </div>
            </div>

            <h5>Class</h5>

            <div class="selection-mode">Selection mode:</div>
            <div class="radio selection-mode-radio">
                <label class="radio-inline">
                    <input type="radio" ng-model="selectionMode.mode" value="or" ng-change="selectHeroes()">or
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="selectionMode.mode" value="and" ng-change="selectHeroes()">and
                </label>
            </div>

            <div class="checkbox checkbox-text">
                <label>
                    <input type="checkbox" ng-model="selectAllClasses" ng-click="selectAll('classes')">
                    All
                </label>
            </div>
            <div ng-repeat="class in classes">
                <div class="checkbox checkbox-text">
                    <label>
                        <input type="checkbox" ng-model="classes[$index].enabled"
                               ng-change="selectHeroes()"> {{class.name}}
                    </label>
                </div>

            </div>

        </div>
        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
            <ul class="row">

                <div ng-repeat="hero in selectedHeroes">
                    <li class="col-lg-2 col-md-2 col-sm-4 col-xs-4">

                        <div class="hero {{hero.element}}-border">
                            <a href="{{hero.url}}" target="_blank">
                                <img ng-src="{{hero.img}}" class="hero-img"/><br/>

                                <div class="hero-text">
                                    <span class="hero-title">{{hero.name}}</span>

                                    <div>{{hero.element}} {{hero.class}}</div>

                                </div>
                            </a>

                            <div>
                                <span ng-repeat="active in hero.active">
                                    <a href="" ng-click="showAbility(hero, active)">
                                        <img ng-src="img/abilities/active/{{active}}.png" alt="{{active}}"
                                             class="ability"/>
                                    </a>
                                </span><br/>
                                <span ng-repeat="passive in hero.passive">
                                    <a href="" ng-click="showAbility(hero, passive)">
                                        <img ng-src="img/abilities/passive/{{passive}}.png" alt="{{passive}}"
                                             class="ability"/>
                                    </a>
                                </span>
                            </div>
                            <div ng-show="currentHero === hero && ability" db-ability>
                            </div>
                        </div>

                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-tooltips/dist/angular-tooltips.min.js"></script>
<script src="controllers/dungbossController.js"></script>
<script src="services/utilService.js"></script>
<script src="services/classService.js"></script>
<script src="services/elementService.js"></script>
<script src="services/heroService.js"></script>
<script src="directives/dbAbility.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69882436-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>